@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainGreen: rgb(28, 172, 23);
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.conteiner{
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  gap: 10px;
  display: grid;
  grid-template-areas: 'recursos'
  'tablas';
  grid-template-rows: 200px 1fr ;
}

.conteiner .select-conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  gap: 5px;
  grid-area: 'recursos';
}

.form-cantidad{
  display: grid;
  grid-template-columns: 1fr 20px;
  grid-template-rows: 1fr;
  gap: 5px;
}

#recursos{
  padding: 5px 20px;
}

#cantidad{
  padding: 5px 10px;
  width: 100%;
}

.agregar{
  position: flex;
  justify-content: flex-start;
  align-items: flex-end;
  display: block;
}

#ingresar{
  background-color: #12c712;
  border-radius: 4px;
  padding: 5px 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: white;
  transition-duration: 0.4s;
}

#ingresar:hover{
  background-color: white;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ocultar{
  right: -100px;
  opacity: 0;
}

.tabla-recursos{
  grid-area: 'tablas';
  overflow-x:auto
}

#t {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

#t td, #t th {
  border: 1px solid #ddd;
  padding: 8px;
}

#t tr:nth-child(even){background-color: #f2f2f2;}

#t tr:hover {background-color: #ddd;}

#t th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #496158;
  color: white;
}

@keyframes opacidadzero {
  from {opacity: 1;}
  to{opacity: 0;}
}

@keyframes opacidaduno {
  from{opacity: 0;}
  to{opacity: 1;}
}